@import '../globals';

$break-small: 480px;

.DashboardTabs{
  width: 100%;
}

.Dashboard-header {
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 1px;
  width: 60%;
  float: left;
  @media screen and (max-width: $break-small) {
    margin-left: 5%;
    float: none;
  }
  
}
.Dashboard-body-controller {
  width: 70%;
  margin-left: 10%;
  min-height: 100px;
  float: left;
  p {
    font-size: 15px;
  }
  
  @media screen and (max-width: $break-small) {
    margin-left: 5%;
    float: none;
  }
}

.Dashboard-buttons{
  Button {
    width: 200px;
  }
  
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}
.Logger {
  width: 70%;
  margin-top: 20px;
  margin-left: 6.5%;
  min-height: 100px;
  float: left;
  @media screen and (max-width: $break-small) {
    margin-left: 5%;
    float: none;
  }

} 